<!DOCTYPE html>
<html>
<head>
  <title>{{ pdf.title }}</title>
  <style>
    body {
      -webkit-user-select: none;
      user-select: none;
    }
  </style>
  <script>
    document.addEventListener('contextmenu', event => event.preventDefault()); // Disable right-click
    document.onkeydown = function(e) {
      if (e.ctrlKey && (e.key === 's' || e.key === 'S')) {
        e.preventDefault(); // Prevent Ctrl+S
        return false;
      }
    };
  </script>
</head>
<body>
  <h1>{{ pdf.title }}</h1>
  <p>Author: {{ pdf.author }}</p>

  <embed src="{{ pdf.pdf_file.url }}#toolbar=0&navpanes=0&scrollbar=0"
         type="application/pdf"
         width="100%" height="700px">
  </embed>

  <h3><b>Note:</b> This content is protected and cannot be downloaded directly.</p>
</body>
</html>
